/* Reset base styles and ensure full height */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* Center page wrapper */
.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;      /* Full viewport height */
  width: 100vw;       /* Full viewport width */
  background-color: #bee2b9;
}

/* Login box styling */
.login-box {
  background: #f3f5f3;
  padding: 32px 24px;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

/* Logo */
.login-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  object-fit: contain;
}

/* Input + Button Styling */
.login-box input,
.login-box button {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 25px;
  font-size: 16px;
  border: 1px solid #7ca07e;
}

/* Input specific */
.login-box input {
  color: #000000;
  outline: none;
}

/* Button specific */
.login-box button {
  background: #32cd32;
  color: rgb(16, 12, 12);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background: #217321;
}
